{% extends 'format.html' %}
{% block content %}
          <img class="image_wrapper fl_image" src="/s-files/images/indianrailwayimage.jpg" alt="Indian Railways" />       
          <div>
					<h>Experience Our Service</h>
                    <p>India has some of the most spectacular and unforgettable rail journeys in the world. Here you experience a simple way to find out everything you need to know in one easy place. There's no better way to enjoy India's outback, cities, coastal towns and regional areas in comfort.</p>
                    <a href="{% url 'pnr' %}"><marquee behavior="scroll" direction="left">PNR Checking</marquee></a>
                  </div>
{% endblock %}